
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>error</title>

    <%- include('includes/bootstrap.ejs', {}) %>
    <%- include('includes/style.ejs', {}) %>

  </head>
  <body>
    <%- include('templates/errortemplate.ejs',{currentWebError: {
      function: '*',
      protocol: '*',
      from: '/',
      error: error
    }}) %>
  </body>
</html>
