<% if(currentWebError.error){ %>
<!-- Modal -->
<div class="modal fade" id="myModal" role="">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close ml-1" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Oops!?</h4>
       </div>
       <div class="modal-body">
         <p>
           Error at location <b><%= currentWebError.location %></b> on routing <b><%= currentWebError.from %></b>.
         </p>
         <div class="form-group">
           <textarea class="form-control" rows="3" disabled><%= JSON.stringify(currentWebError.error, null, 2) %></textarea>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default  mr-auto" data-dismiss="modal">Close</button>
         <a type="button" class="btn btn-default" href="<%= currentWebError.from %>">Back</a>
       </div>
     </div>

   </div>
 </div>

<script type="text/javascript">
  $(window).on('load', function() {
      $('#myModal').modal('show');
  });
</script>
<% } %>
